<link rel="stylesheet" href="/index.css">

<header class="header">
    <h3 class="logo-text">Odin Drive</h3>
    <div class="nav-btns">
        <button class="main-btn submit">Create Folder</button>
    <a href="/logout">Logout</a>
    </div>
</header>