<link rel="stylesheet" href="/index.css">


<title>OdinDrive</title>

<header class="header">
    <a href="/"><h3 class="logo-text">Odin Drive</h3></a>
    <div class="nav-btns">
        <button class="main-btn submit">Create Folder</button>
        <button class="upload submit">Upload File</button>
    <a href="/logout">Logout</a>
    </div>
</header>