<link rel="stylesheet" href="/home.css">

<!-- Universal nav bar -->
<%- include('../partials/header.ejs') %>

<!-- Folder creation modal -->
    <dialog>
        <form method="post">
            <label for="folderName">Folder Name:</label>
            <input type="text" name="folderName">
            <button>Create</button>
        </form>
    </dialog>



<div class="main-body">
    <h1><%=currFolder.name%></h1>
<!-- Retrive all folders and files here -->
 <div class="drive-content">
    <!-- print the current folder name -->
    

    <!-- Show child contents here -->
    <% children.map((child)=>{ %>
        <div class="file-row">
            <a href="/folders/<%=child.id%>"><h3><%=child.name%></h3></a>
            <button class="delete">Delete</button>
        </div>
    <% }) %>
 </div>
</div>

<script defer>
    const dialog = document.querySelector("dialog");
    const showButton = document.querySelector(".submit");

    showButton.addEventListener("click", ()=>{
        dialog.showModal();
    })
</script>