<link rel="stylesheet" href="/home.css">

<!-- NAV BAR -->
<header class="header">
    <h3 class="logo-text">Odin Drive</h3>
    <div class="nav-btns">
        <button class="main-btn submit">+ NEW</button>
    <a href="/logout">Logout</a>
    </div>
</header>

<div class="main-body">
<!-- Retrive all folders and files here -->
 <div class="drive-content">
    <h1>     <%=currentFolder.name%> </h1>
 </div>
</div>