<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/home.css">

<title>OdinDrive</title>

<div class="body-content">
    <div class="main-block">
        <div class="tagline"><h1>Login</h1></div>
    <form method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button class="main-btn submit">Login</button>
        <p class="footnote">Don't have an account? Sign up <a href="/register">here</a></p>
    </form>
    </div>
</div>

<% if (message.length) { %>
    <div class="notification">
      <%=message%>
    </div>
  <% } %>

  <script>
      document.addEventListener("DOMContentLoaded", function() {
      const notif = document.querySelector(".notification");
      console.log(notif);

      if (notif) {
        notif.classList.add("show-notification");

        // Hide after 5 seconds
        setTimeout(() => {
          notif.classList.remove("show-notification");
        }, 2500);
      }
    });
  </script>