<link rel="stylesheet" href="/styles/index.css">

<div class="body-content">
    <!-- include logo && text -->
    <div class="main-block">
        <h3 class="logo-text">Odin Drive</h3>
        <h1 class="tagline">Keep your files in one place, hassle free.</h1>
        <div class="action-buttons">
            <a href="login"><button class="main-btn submit">Sign in</button></a>
            <a href="register"><button class="second-btn submit">Get started</button></a>
        </div>
    </div>
</div>